<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrandPy</title>
    <link href="static/style.css" rel="stylesheet" media="all" type="text/css">     
  </head>
  <body>
    <header class="msger-header">
      <div class="container py-5 text-center">
        <h1 class="display-4 font-weight-bold">GRANDPY LE PAPY BOT</h1>
        <p class="font-italic mb-0">Le papy robot qui vous aide dans vos déplacements</p>
           
      </div>
      
       <div class="msger-header-title">
       
       </div>
       <div class="msger-header-options">
       
     </div>
   </header>

    <section class="msger">  
      
    <main class="msger-chat">
      <div class="msg left-msg">
        <div
         class="msg-img"
         style="background-image: url(https://img1.freepng.fr/20180811/hlb/kisspng-computer-icons-clip-art-online-chat-internet-bot-s-robot-face-icon-free-of-78-free-vector-emoji-5b6f90c3d8e580.1587807415340382118884.jpg)"
         > </div> 
                        
        <div onload="initMap()"></div>        
        </div>
                   
        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">GRANDPYBOT</div>
            <div class="msg-info-time">12:45</div>
          </div>
  
          <div class="msg-text">
            Bonjour et bienvenue, quelle adresse recherches-tu? 😄
          </div>

        </div>
      </div>
                    
    </main>
      
    <form class="msger-inputarea">
      <input type="text" class="msger-input" name="msgerInput" placeholder="Entrez votre message...">
      <button type="submit" class="msger-send-btn">Send</button>    
    </form>    
  
  </section>

  
    <div class="main_footer">
      <footer>
        <div class="container">
          <div class="row">
            
              <ul>
                <li><p> Site créé par Fadia Medja</p></li>
                <li><p>Vous trouverez <a href="https://github.com/Fadia04/Projet7/tree/master">ici</a> le code source de ce projet.</p></li>
              </ul>
            </div>
          </div>
        
               
      </footer>
   
   <script src="static/script.js"></script>
   <script type="text/javascript" async defer
         src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>
    <style scoped>
        #map{height:300px;
        width: 100%}
    </style>
</body>
</html>
   
